:root {
    --black: rgba(25, 24, 37, 1);
    --dark: rgba(34, 40, 49, 1);
    --grey-scaleblack-50: rgba(25, 24, 37, 0.5);
    --light: rgba(238, 238, 238, 1);
    --secondary: rgba(248, 94, 159, 1);
    --medium: rgba(57, 62, 70, 1);
    --grey-scaleblack: rgba(25, 24, 37, 1);
    --grey-scaleblack-75: rgba(25, 24, 37, 0.75);
    --orange: rgba(255, 87, 34, 1);
    --yellow: rgba(250, 205, 73, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-scaleblack-10: rgba(25, 24, 37, 0.1);
    --primary: rgba(93, 80, 198, 1);
    --button-font-family: "CircularStd-Bold", Helvetica;
    --button-font-weight: 700;
    --button-font-size: 14px;
    --button-letter-spacing: 0px;
    --button-line-height: 120.00000476837158%;
    --button-font-style: normal;
    --h1-font-family: "CircularStd-Bold", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 69px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 120.00000476837158%;
    --h1-font-style: normal;
    --body-font-family: "Inter-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 18px;
    --body-letter-spacing: 0px;
    --body-line-height: 160.0000023841858%;
    --body-font-style: normal;
    --h3-font-family: "CircularStd-Bold", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 44px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 120.00000476837158%;
    --h3-font-style: normal;
    --h5-font-family: "CircularStd-Bold", Helvetica;
    --h5-font-weight: 700;
    --h5-font-size: 28px;
    --h5-letter-spacing: 0px;
    --h5-line-height: 120.00000476837158%;
    --h5-font-style: normal;
    --h6-font-family: "CircularStd-Bold", Helvetica;
    --h6-font-weight: 700;
    --h6-font-size: 23px;
    --h6-letter-spacing: 0px;
    --h6-line-height: 120.00000476837158%;
    --h6-font-style: normal;
    --secondary: rgba(248, 94, 159, 1);
    --grey-scaleblack: rgba(25, 24, 37, 1);
    --grey-scaleblack-50: rgba(25, 24, 37, 0.5);
    --orange: rgba(255, 87, 34, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-scaleblack-10: rgba(25, 24, 37, 0.1);
    --h3-font-family: "CircularStd-Bold", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 44px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 120.00000476837158%;
    --h3-font-style: normal;
    --body-font-family: "Inter-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 18px;
    --body-letter-spacing: 0px;
    --body-line-height: 160.0000023841858%;
    --body-font-style: normal;
    --h4-font-family: "CircularStd-Bold", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 35px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 120.00000476837158%;
    --h4-font-style: normal;
  }